
#################################
# 🔐 AUTH / SECURITY
#################################
JWT_SECRET_KEY=
REFRESH_TOKEN_SECRET=



#################################
# 🗄️ DATABASES (MongoDB)
#################################
# other temprary databse
MONGODB_URI_MAIN_DB=m
MONGODB_URI_NOTIFICATION_DB=m

#################################
# 🔑 API KEYS (External Services)
#################################
api_key=
PULSE_API_KEY="

#################################
# 🤖 TELEGRAM BOT
#################################
# Telegram Bot Token (From @BotFather)
TELEGRAM_BOT_TOKEN=
# Your Telegram Chat ID (From @userinfobot)
TELEGRAM_CHAT_ID=



#################################
# 📦 MINIO STORAGE
#################################
MINIO_ENDPOINT=http://local-minio:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=storageforclassmaster
MINIO_EXTERNAL_URL=http://localhost:9000
